@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Shippori+Mincho+B1:wght@500&display=swap');


/* モバイルファーストで書いてみます */

/* ------------
全体
------------ */

html {
  font-size:62.5%;
}

:root {
  --red: #e83828;
  --white: #f3f3f3;
  --black: #222;
}

body {
  /* width: 94%; */
  /* margin: 0 auto; */
  font-family: heisei-kaku-gothic-stdn, sans-serif;
  background: #222;
  font-size: 1.5rem;
  color: #fff;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 94%;
  margin: 0 auto 60px;
}

main {
  position: relative;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

h2 {
  font-size: 2.0rem;
}

h1, h2, h3, h4 {
  font-family: nitalago-ruika, sans-serif;
}

.title {
  font-size: 3.0rem;
  margin-bottom: 15px;
}

.section {
  margin-bottom: 60px;
}

.box1, .box2 .image, .box3 .image, .card .image{
  overflow: hidden;
}

.box1 img:hover, .box2 img:hover, .box3 img:hover, .card .image img:hover {
  transition: all 0.6s ease;
}

.box1 img:hover, .box2 img:hover, .box3 img:hover, .card .image img:hover {
  transform: scale(1.3) rotate(7deg);
}

/* --------
シェアボタン
--------*/
.sns-btn {
  justify-content: center;
  margin-bottom: 60px;
  line-height: 0;
}

.fb-share-button:hover {
  opacity: 0.8;
}

.sns-btn div {
  margin-right: 20px;
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}

/* --------
上へボタン
--------*/
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  line-height: 1;
  z-index: 99;
}

/* #page-top img {
  width: 30px;
  height: 40px;
} */

#page-top a {
  /* background: #E83828; */
  text-decoration: none;
  color: #fff;
  width: 40px;
  padding: 10px 8px 14px;
  text-align: center;
  display: block;
  border-radius: 5%;
  opacity: 0.7;
  transition: all .3s ease;
}
#page-top a:hover {
  text-decoration: none;
  opacity: .5;
}

.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  /* display: none; */
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: transparent;
  cursor: pointer
  /* background-color: ; */
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 2px;
  width: 22px;
  /* border-radius: 3px; */
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-btn span:before {
  top: 9px;
  
}
.menu-btn span:after {
  top: -7px;
}



/* --------
inview用
--------*/

.fadeIn {
  transform: translate(0, 20%);
  transition: 0.4s ease;
}
.fadeIn.is-show {
  transform: translate(0, 0);
}

/* --------
modal
--------*/
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -100vh;
  background: rgba(30, 20, 10, 0.4);
  z-index: 300;
}

.modal_container {
  width: 50vw;
  margin: 30px auto;
}

.modal_container .close {
  position: absolute;
  right: 32px;
  top: 0px;
  font-size: 3rem;
  cursor: pointer;
}

.modal_container li a{
  display: block;
  color: var(--white);
  margin-bottom: 20px;
  position: relative;
}

.modal_container li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  background: var(--white);
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
}

.modal_container li a:hover:after{
  width: 50%;
}

/* --------
sound attention
--------*/
.attention {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 400;
  background: rgba(0,0,0, 0.5);
  display: none;
}

.attention_container {
  width: 30vw;
  position: absolute;
  padding: 30px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  border: solid 1px #fff;
  border-radius: 3%;

}

.attention_container div {
  margin-top: 20px;
  font-size: 2rem;
  color: #333;
  background: #fff;
  padding: 5px;
  border-radius: 3%;
  cursor: pointer;
}

/* --------
header 
--------*/

.header {
  /* background: rgba(180, 180, 180, 0.6); */
  position: absolute;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 8vh;
}


.header_container {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.header_container .site-title {
  margin-left: 20px;
}

.header_container .site-title img {
  width:min(50vw, 400px);
}

.header_container .main_menu ul{
  display: none;
}

/* --------
hero 
--------*/

.hero {
  margin-bottom: 30px;
}

.hero_container {
  position: relative;
  overflow: hidden;
}

.hero_images .on{
  display: none;
}

.hero_images .off {
  height: 25vh;
  object-fit: cover;
}

.hero_text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 75vw;
  transform: translate(-50%, -50%);
  
}

.move {
  animation: up 1s ease;
}

@keyframes up {
  0% {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity:1;
  }
}

.hero_text h2 {
  font-family: ruika, sans-serif;
  font-weight: 80;
  text-align: left;
  font-size: min(17vw, 140px);
  white-space: nowrap;
  line-height: min(24vw, 190px);
}

.copy_pc {
  display: none;
}

.shop-name {
  text-align: center;
  width: 50%;
  margin: 30px auto;
}

/* --------
boxes
--------*/


.boxes_container .pc {
  display: none;
}

.boxes_container .box1 {
  margin-bottom: 10px;
  position: relative;
}



.boxes_container .box1 h1 {
  position:absolute;
  top: 20px;
  left: 20px;
  color: var(--white);
  font-size: 2.4rem
}

.boxes_container .box2_box3 {
  display: flex;
  justify-content: space-between;
}

.boxes_container .box2_box3 a {
  width: 49%;
  /* height:49%; */
  color: var(--white);
}

.box2 .image, .box3 .image {
  margin-bottom: 10px;
}

/* --------
policy
--------*/

.policy_container .image{
  margin-bottom: 15px;
}


.news {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--white);
}



.news_container .title {
  margin-bottom: 15px;
  color: var(--black);
  font-weight: 70;
}

.news_container dl {
  /* display: flex; */
  /* justify-content: space-between; */
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.news dt {
  text-align: center;
  /* width: 18%; */
}

.news dd {
  /* width: 78%; */
  /* text-align: left; */
  margin-bottom: 20px;
}

.recommend {
  margin-bottom: 60px;
}

.recommend h2 {
  margin-bottom: 15px;
}

.recommend_container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recommend_container .card {
  margin-bottom: 20px;
}

.recommend_container .card .text {
  padding: 10px;
  border: solid 1px #fff;
  margin: 10px 0;
}

.recommend_container a {
  width: 49%;
  margin-bottom: 30px;
  display: block;
  color: var(--white);
}



.recommend_container .card .text h2 {
  margin: 5px 0 15px;
}

/*--------
SNSボタン
------ */

.sns-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.sns-btn div {
  margin-right: 20px;
}


/*--------
footer
------ */
.footer {
  width: 180px;
  margin-left: 40px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {

  .header .site-title {
    margin-left: 40px;
  }
    /*--------
    boxes
    ------ */

    .boxes_container {
      display: flex;
      justify-content: space-between;
    }

    .boxes_container .image{
      margin:0;
    }

    .boxes_container .sp {
      display: none;
    }

    .boxes_container .pc {
      display: block;
    }



    .boxes_container > a {
      width: 49%;
      height: 100%;
    }

    .boxes_container .box1 {
      margin-bottom: 0;
      height: 100%;
    }

    .boxes_container .box2_box3 {
      flex-direction: column;
      width: 49%;
    }

    .boxes_container .box2_box3 a {
      width: 100%;
      height: 49%;
      color: var(--black);
    }

    .boxes_container .box2_box3 a:link, .boxes_container .box2_box3 a:visited {
      color: var(--black);
    }

    .boxes_container .box2_box3 a img {
      object-fit: cover;
      height: 100%;

    }

    .box2,
    .box3 {
      position: relative;

    }
    
    .box2 h2,
    .box3 h2 {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    
    /*--------
    policy
    ------ */

    .policy_container {
      margin-bottom: 120px;
    }

    .policy_container .media_object{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .policy_container .media_object .image,
    .policy_container .media_object .text {
      width: 49%;
    } 

    .policy h1 {
      font-size: 3.0rem;
    }

    .policy h2 {
      font-size:2.0rem;
      margin-bottom: 15px;
    }

    .policy p {
      font-size: 1.5rem;
    }

    .news_container .title {
      color: var(--black);
      font-weight: 70;
    }

    .news_container h2 {
      font-size: 2.4rem;
    }

    .news_container dl {
      display: flex;
      flex-wrap: wrap;
      width: 600px;
      margin: 0 auto 10px;
      justify-content: space-between;
      background: #ffe;
      padding: 30px;
      line-height: 2rem;
      border: dashed 1px #ccc;
    }

    .news_container a:link, .news a:visited {
      color: var(--black);
    }

    .news dt {
      width: 20%;
      
    }

    .news dd {
      width: 80%;
      text-align: center;
      border-left: dashed 1px #444;
    }



    .recommend h2{
      font-size: 2.4rem;
    }

    .recommend .item {
      width: 24%;
    }


        /*--------
    news
    ------ */
        /*--------
    news
    ------ */
        /*--------
    news
    ------ */
}

@media (min-width: 1025px) {

  .container {
    width: 1020px;
    margin: 0 auto;
  }

  section {
    margin-bottom: 120px;
  }

  .attention {
    display: block;
  }

  .header_container {
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
  }
  
  .menu-btn{
    display: none;
  }

  .header_container .main_menu {
    margin-left:auto;
    margin-right: 120px;
  }

  .header_container .main_menu ul{
    display: flex;
    margin-left: 50px;
    align-items: bottom;
    width: 50vw;
    justify-content: space-between;
  }

  .header_container .main_menu li{
    position: relative;
  }
  .header_container .main_menu li:after{
    content: '';
    position: absolute;
    background: #fff;
    width: 120%;
    height: 0%;
    bottom: 0;
    left: -11%;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .header_container .main_menu li:hover a{
    color: #000;
    position: relative;
    z-index: 450;
  }

  .header_container .main_menu li:hover:after {
    opacity: 1;
    height: 110%;
    border-radius: 2%;
  }

  .header_container a {
    color: #fff;
    font-size: 3rem;
    font-family: nitalago-ruika, sans-serif;
  }


  .hero_images {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: 100vh;
  }

  .hero_images .image {
    width: 50%;
    position: relative;
  }

  .hero_images .off {
    height: 50vh;
    z-index: 100;
  }

  .hero_images .on {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: all .3s ease;
  }

  .hero_images .on:hover {
    opacity: 1;
  }

  .hero_text {
    z-index: 175;
  }

  .hero_text h2 {
    font-size: 10vw;
    line-height: 13vw;
  }

  .copy_sp {
    display: none;
  }

  .copy_pc {
    position: relative;
    display: block;
    
  }

  .recommend_container .cards a {
    width: 24%;
  }

  .footer_container h2{
    width: 200px;
  }

}

